.juntagrico-logo {
    /* See https://juntagrico.readthedocs.io/en/latest/theming.html#change-the-logo to change the logo */
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}
